@media screen and (max-width :570px) {

    .container {
        width: auto;
        height: 20rem;
    }

    table #left {

        width: 18rem;
        margin 0px;
        padding: 0px 30px;
    }

    .timerDisplay {
        font-size: 3rem;
    }

    .stop {
        width: auto;
        height: 3rem;
        padding: 15px;
        font-size: 25px;
    }

    .reset {
        width: auto;
        height: 3rem;
        padding: 15px;
        font-size: 25px;
    }
}

@media screen and (max-width :470px) {

    .container {
        width: auto;
        height: 17rem;
    }

    table #left {

        width: 17rem;
        margin 0px;
        padding: 0px 30px;
    }

    .timerDisplay {
        font-size: 2.5rem;
    }

    .stop {
        width: auto;
        height: 3rem;
        padding: 10px;
        font-size: 20px;
    }

    .reset {
        width: auto;
        height: 3rem;
        padding: 10px;
        font-size: 20px;
    }

    #start {
        /* width: 150px; */
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
    }
}

@media screen and (max-width :390px) {

    .container {
        width: auto;
        height: 16rem;
    }

    table #left {

        width: 15rem;
        margin 0px;
        padding: 0px 30px;
    }

    .timerDisplay {
        font-size: 2rem;
    }

    .stop {
        width: auto;
        height: 2.5rem;
        padding: 10px;
        font-size: 18px;
    }

    .reset {
        width: auto;
        height: 2.5rem;
        padding: 10px;
        font-size: 18px;
    }

    #start {
        /* width: 150px; */
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
    }
}