@media  screen and  (max-width: 445px){
    /* .weatherInfoContainer{
    
        display: flex;
        
    
    }
    
   
    .weatherInfo{  
        margin-left:10vmin;
        display: flex;
        
    }
} */
/* @media  screen and  (max-width: 480px){
    .weatherInfoContainer{
    
        display: flex;
        
    
    }
    
    .weatherImg{
        display: flex;
        width: 15vmin;
        height: 15vmin;
    }
    .weatherInfo{  
        margin-left:30%
        
    }
} */